/* Navbar Styles */
.navbar {
  background-color: white;
  border-bottom: 1px solid gainsboro;
  padding: 0.5rem 1rem;
}
.navbar .nav-link {
  color: black;
  font-size: 16px;
  font-weight: bold;
}

.navbar .nav-link:hover {
  color: green;
}


.navbar .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .navbar-brand {
  color: black;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.navbar .navbar-brand:hover {
  color: green;
}

.navbar .navbar-collapse {
  text-align: center;
}


/* Buttons */
.btn-primary {
  background-color: #007bff;
  border: none;
  font-size: 0.9rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.d-flex {
  justify-content: center;
  gap: 6px;
}

/* Mobile Responsiveness */
@media (max-width: 991px) {
  .navbar .navbar-collapse {
    text-align: center;
  }

  .navbar .nav-link {
    margin: 10px 0;
  }

  .d-flex {
    flex-direction: column;
    gap: 10px;
  }

  .d-flex .btn {
    width: 75%;
  }
}

@media (max-width: 576px) {
  .navbar {
    padding: 0.5rem 0.8rem;
  }

  .navbar .navbar-brand {
    font-size: 14px;
  }

  .navbar .nav-link {
    font-size: 14px;
  }

  .d-flex .btn {
    font-size: 14px;
    padding: 8px 15px;
  }
}
